body {
    background-color: #eeeeee;
}
.navbar {
    margin-bottom: 0px;
}
.main {
    background-color: white;
    box-shadow: 1px 2px 2px 1px #999;
    min-height: 90vh;
    padding: 10px 15px;
}
.main > h1 {
    /* title of page */
    display: block;
    margin-bottom: 30px;
}