{% extends "base.html" %}

{% block content %}
    <h1>Your applications</h1>

    {% if object_list %}

        <a href="{% url 'apply:form-page-start' %}">
            <button class="btn btn-primary">
                Edit existing application
            </button>
        </a>

    {% else %}
      <p>There are no applications for this year on your account.</p>
      <a href="{% url 'apply:application-new' %}">
        <button class="btn btn-primary">
          Create a new application.
        </button>
      </a>
    {% endif %}       
{% endblock content %}