input[type=text], input[type=email], select, input[type=number] {
    display: block;
    height: 34px;
    width: 100%;
    min-width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.formFieldset {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.formFieldset .formField {
    flex: 1;
    margin-bottom: 10px;
    padding: 0px 10px;
}
.fieldsetHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.fieldsetHeader hr {
    border-width: 1px;
    width: 20%;
    margin-top: 10px;
}

#loading-img {
    background: url(http://preloaders.net/preloaders/360/Velocity.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.overlay.saving #loading-img::after {
    content: 'Saving data...';
    position: fixed;
    top: 50%;
    margin-top: 40px;
    left: 50%;
    display: block;
    margin-left: -40px;
    font-weight: bold;
    font-size: 120%;
}

/* error dialog styling */
.errorTextDialog {
    font-weight: bold;   
}
.errorMessageDialog {
    
}
.modal {
    z-index: 1061;
    /* so it goes above the popovers. */
}