.flexColumn {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.flexColumn .field {
    flex: 1;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .mainForm {
        padding-left: 20px;
    }
}


.threeColumn, .twoColumn {
    clear: both;
}
.threeColumn .field {
    width: 33.3%;
    display: inline-block;
    min-width: 100px;
}
.twoColumn .field, .halfWidth {
    width: 50%;
    display: inline-block;
}
.oneColumn .field, .fullWidth {
    width: 100%;
}
.col-xs-12 {
    padding: 0;
    margin: 0;
}