{{ partial "header.html" . }}
	<main>
		<!--{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
		{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
		{{ end }}
		{{ partial "pagination.html" . }}
		-->
		<div class="row mainImg pb-2">
				<div class="jumbotron titleDiv col-8 offset-2 col-md-6 col-lg-5 col-xl-4 offset-md-0">
				  <h1>Indian American Scholarship Fund</h1>
				  <p class="lead"><em>"Honoring Excellence in Education"</em></p>
				  <hr class="my-4">
				  <p>We offer need-based and merit-based scholarships for undergraduates and rising undergraduates graduating from high schools in Georgia.</p>
				  <p class="lead">
				    <a class="btn btn-primary btn-lg" href="#learnMore" role="button">Learn more</a>
				  </p>
				</div>
			</div>
			<a id="learnMore"></a>
			<div class="row mt-5 col-12">
				<div class="col-12 text-center">
						<h1 class="display-4">What we do</h1>
				</div>
				<!--div class="col-4">
				  <h3 class="">
						<i class="fa fa-book fa-2x float-left mr-3" aria-hidden="true"></i>
						<br><br>8-12 one-year scholarships</h3>
				</div>
				<div class="col-4">
				  <h3 class="">
						<i class="fa fa-laptop fa-2x float-left mr-3" aria-hidden="true"></i>
						<br><br>One two-year scholarship</h3>
				</div>
				<div class="col-4">
				  <h3 class="">
						<i class="fa fa-graduation-cap fa-2x float-left mr-3" aria-hidden="true"></i>
						<br><br>Four four-year scholarships</h3>
				</div-->
			</div>
			<div class="col-12">
<p class="lead">
		We offer 4-year, 2-year, and 1-year scholarships that are both need- and merit-based. <br>
		All applicants must attend an accredited four-year college or university for undergraduate studies. Furthermore, they must be of Asian-Indian descent and graduate from an accredited high school in Georgia.<br>
		<br>For more information, please see <a href="./scholarships">the list of current scholarships</a> we offer.
			</p>
			</div>
			<div class="row learnMore mt-5 col-12">
				<div class="col-12 text-center">
						<h1 class="display-4">Get involved</h1>
				</div>
				<div class="col-4">
					<div class="card-block">
						<div class="row">
							
							<h3 class="card-title float-left">
								<i class="fa fa-check-square-o fa-2x float-left mr-4" aria-hidden="true"></i>
								Apply for a Scholarship
							</h3>
							
						</div>
					<p>Applications open in March 2018. Review the requirements and rules for eligibility.</p>
					<a href="./apply">
						<button class="btn btn-primary">Apply now</button>
					</a>
					</div>
				</div>
				<div class="col-4">
					<div class="card-block">
						<div class="row">
							
							<h3 class="card-title float-left">
								<i class="fa fa-share fa-2x float-left mr-4" aria-hidden="true"></i>
								Share
							</h3>
							
						</div>
					<p>Share our Facebook page to others who may be interested. Help spread the word!</p>
					<a href="./contact">
						<button class="btn btn-primary">Find us on Facebook</button>
					</a>
					</div>
				</div>
				<div class="col-4">
					<div class="card-block">
						<div class="row">
							
							<h3 class="card-title float-left">
								<i class="fa fa-handshake-o fa-2x float-left mr-4" aria-hidden="true"></i>
								Sponsor an Award
							</h3>
							
						</div>
					<p>It is thanks to the generosity of our sponsors that we are able to offer these scholarships. Contact us for more information.</p>
					<a href="./contact">
						<button class="btn btn-primary">Contact Us</button>
					</a>
					</div>
				</div>
			</div>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}